@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Dashboard</h1>

<p>
    Welcome to your new app.
    <br />
    Here you can track your savings.
    <br />
    Go to <b><a href="/settings">Settings</a></b> and set daily saving increment.
    <br />
    On your way to SavaDay!
    <br />
    <br />
    Your last known balance is: @lastKnownBalance <br />
    The last day of year the app was used is: @lastUsedIntDate <br />
    Today day of year number is: @todaysIntDay <br />
    Projected savings for today will be: @projectedBalance
    <br />
</p>

@code {
    /// <summary>
    /// local storage usage
    /// </summary>
    const string balanceKey = "lastBalance";
    const string lastDayIntKey = "lastUsedDay";

    double lastKnownBalance;
    double projectedBalance;
    int todaysIntDay = DateTime.Now.DayOfYear;
    int lastUsedIntDate;

    public async void UpdateLocalStorage()
    {
        UserModel.CalculateAmount();
        lastKnownBalance += UserModel.TotalAmount;
        await localStore.SetItemAsync(balanceKey, lastKnownBalance);
        await localStore.SetItemAsync(lastDayIntKey, todaysIntDay);
    }

    public async void ClearLocalStorage()
    {
        lastKnownBalance = 0;
        await localStore.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        lastKnownBalance = await localStore.GetItemAsync<double>(balanceKey);
        lastUsedIntDate = await localStore.GetItemAsync<int>(lastDayIntKey);
        projectedBalance = UserModel.CalcOnlyAmount(lastUsedIntDate, todaysIntDay);
    }
}

<p>
    Current increment settngs: <b>@AppData.IncrementAmount.ToString(format: "0.00")</b> <br />
    Total Days: <b>@UserModel.TotalDaysText</b><br />
    Total amount for saving: <b>@UserModel.TotalAmount.ToString(format: "0.00")</b><br />
    Current date: <b>@UserModel.Date</b> @*, you selected @date1*@
</p>

<EditForm Model="@UserModel" OnValidSubmit="HandleValidSubmit" class="form-check-inline">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="start1">Start date:</label>

        <InputNumber min="1" class="form-control" id="startForm" @bind-Value="UserModel.StartDay"></InputNumber>
    </div>
    <br />

    <div class="form-group">
        <label for="end">End date:</label>

        <InputNumber min="1" class="form-control" id="endForm" @bind-Value="UserModel.EndDay"></InputNumber>
    </div>
    <br />
    <div class="form-group">
        <label for="beginAmount">Begin amount:</label>
        <div class="input-group-prepend">
            <span class="input-group-text">@(NumberFormatInfo.CurrentInfo.CurrencySymbol)</span>

            <InputNumber step="0.01" inputmode="decimal" min="0" class="form-control" id="beginAmountForm" @bind-Value="UserModel.BeginAmount"></InputNumber>
        </div>
    </div>
    <br />
</EditForm>
<br />

<button class="btn btn-primary" @onclick="UpdateLocalStorage">Calculate</button>
<button class="btn btn-primary" @onclick="UserModel.Reset">Reset</button>
<br />
<br />
<p>
    Update your ballance in your management.<br />
    <a href="https://www.buxfer.com/" target="_blank">Open Buxfer webiste here.</a>
</p>
@* Test table, currently it auto updates and it should not *@
<p>
    For example here is possible scenario for savings trough the year:<br />
    <i>Note: its not working properly.</i><br />
    TODO: fill table with correct day inrements and add ability to check them off.
</p>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            @for (int col = 0; col <= AppData.RowUserDateSelection; col++)
            {
                <th>Day @col</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int row = 1; row <= AppData.ColUserDateSelection; row++)
        {
            <tr>
                <th>Month @row</th>

                @for (int col = 1; col <= AppData.RowUserDateSelection; col++)
                {
                    <td>
                        @if (true)
                        {
                            tempIncr += 0.01;
                            @tempIncr.ToString("0.00");
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private double tempIncr = 0.00;

    private UserModel UserModel = new UserModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    private void Test()
    {
        Console.WriteLine(UserModel.CalcOnlyAmount(lastUsedIntDate, todaysIntDay));
    }
}

<button class="btn btn-info" @onclick="ClearLocalStorage">Clear last balance from localStorage</button>
<button class="btn btn-primary" @onclick="Test">test</button>
<br />
<p></p>