@page "/"

<h1>Dashboard</h1>

Welcome to your new app.
<br />
<br />
Here you can track your savings.
<br />
Go to settings and set daily saving increment.
<br />
On your way to SavaDay!
<br />
<br />
Your balance right now is: TODO
<br />
Your last checkin was at: TODO

<p>
    <br />
    Current increment settngs: @AppData.IncrementAmount.ToString(format: "0.00") <br />
    Total Days: @UserModel.TotalDaysText<br />
    Total amount for saving: @UserModel.TotalAmount.ToString(format: "0.00")<br />
    Current date: @UserModel.Date @*, you selected @date1*@
</p>

<EditForm Model="@UserModel" OnValidSubmit="HandleValidSubmit" class="form-check-inline">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @*<InputText id="name" @bind-Value="UserModel.Name" />

        <button type="submit">Submit</button>*@

    <div class="form-group">
        <label for="start1">Start date:</label>

        @*<input type="number" min="1" class="form-control" id="startForm" @bind="UserModel.StartDay">
            <InputText id="name" @bind-Value="UserModel.Name" />*@
        <InputNumber min="1" class="form-control" id="startForm" @bind-Value="UserModel.StartDay"></InputNumber>
    </div>
    <br />

    <div class="form-group">
        <label for="end">End date:</label>

        <InputNumber min="1" class="form-control" id="endForm" @bind-Value="UserModel.EndDay"></InputNumber>
    </div>
    <br />

    <div class="form-group">
        <label for="beginAmount">Begin amount:</label>

        <InputNumber step="0.01" min="0" class="form-control" id="beginAmountForm" @bind-Value="UserModel.BeginAmount"></InputNumber>
    </div>
    <br />
</EditForm>
<br />

<button class="btn btn-primary" @onclick="UserModel.CalculateAmount">Calculate</button>
<button class="btn btn-primary" @onclick="UserModel.Reset">Reset</button>
<br />

@code {

    private UserModel UserModel = new UserModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}