@page "/"

<h1>Dashboard</h1>

<p>
Welcome to your new app.
<br />
<br />
Here you can track your savings.
<br />
<br />
Go to <NavLink class="nav-link" href="settings"> <span class="oi oi-chevron-right" > Settings </span> </NavLink> and set daily saving increment.
On your way to SavaDay!
<br />
<br />
Your balance right now is: TODO
<br />
Your last checkin was at: TODO
</p>

<p>
    Current increment settngs: @AppData.IncrementAmount.ToString(format: "0.00") <br />
    Total Days: @UserModel.TotalDaysText<br />
    Total amount for saving: @UserModel.TotalAmount.ToString(format: "0.00")<br />
    Current date: @UserModel.Date @*, you selected @date1*@
</p>

<EditForm Model="@UserModel" OnValidSubmit="HandleValidSubmit" class="form-check-inline">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="start1">Start date:</label>

        <InputNumber min="1" class="form-control" id="startForm" @bind-Value="UserModel.StartDay"></InputNumber>
    </div>
    <br />

    <div class="form-group">
        <label for="end">End date:</label>

        <InputNumber min="1" class="form-control" id="endForm" @bind-Value="UserModel.EndDay"></InputNumber>
    </div>
    <br />
<div class="form-group">
        <label for="beginAmount">Begin amount:</label>
    <div class="input-group-prepend">
                    <span class="input-group-text">@(NumberFormatInfo.CurrentInfo.CurrencySymbol)</span>
                
        <InputNumber step="0.01" inputmode="decimal" min="0" class="form-control" id="beginAmountForm" @bind-Value="UserModel.BeginAmount"></InputNumber>
    </div>
    </div>
    <br />
</EditForm>
<br />

<button class="btn btn-primary" @onclick="UserModel.CalculateAmount">Calculate</button>
<button class="btn btn-primary" @onclick="UserModel.Reset">Reset</button>
<br />
<br />
@* Test table *@
TODO: fill table with day inrements and check them off
<br />
<br />
<table class="table table-striped table-bordered table-sm">
    <thead>
        @for (int col = 0; col <= AppData.RowUserDateSelection; col++)
                {
                    <th>Day @col</th>
                }
        </thead>
    <tbody>
        @for (int row = 1; row <= AppData.ColUserDateSelection; row++)
        {
            <tr>
                <th>Month @row</th>

                @for (int col = 1; col <= AppData.RowUserDateSelection; col++)
                {
                    <td>
                        @if (true)
                        {
                            tempIncr += 0.01;
                            @tempIncr.ToString("0.00");
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@code {
    private double tempIncr = 0.00;

    private UserModel UserModel = new UserModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}