@page "/settings"

<h1>Settings</h1>

<p>
    Current app settngs:<br />
    <br />
    Increment: @increment<br />
    Money: @money<br />
    Total: @total<br />
    Start: @start<br />
    End: @end<br />
    Begin amount: @beginAmount<br />
    Info: @info<br />
    Result: @result<br />
</p>

<p>
    Thank you!
</p>

<button class="btn btn-primary" @onclick="CalculateAmount">Calculate</button>
<button class="btn btn-primary" @onclick="Reset">Reset</button>
<br />
<br />

<form class="form-check">
    <div class="form-group">
        <label for="start1">Start date:</label>

        <input type="number" class="form-control" id="startForm" @bind="start">
    </div>
    <br />
    <div class="form-group">
        <label for="end">End date:</label>

        <input type="number" class="form-control" id="endForm" @bind="end">
    </div>
    <br />
    <div class="form-group">
        <label for="beginAmount">Begin amount:</label>

        <input type="text" class="form-control" id="beginAmountForm" @bind="beginAmount">
    </div>
    <br />
    @*<br />
        <button type="submit" class="btn btn-primary" @onclick="SetData">Set Data</button>*@
</form>

@code {
    private double increment = 0.01;
    private double total = 0.00;
    private int start = 0; //set day
    private int end = 0;
    private string info = "";
    private string result = "";

    private double beginAmount = 0;
    private double money;
    private int time;

    //private void SetData()
    //{
    //    // to do>
    //}

    private void CalculateAmount()
    {
        money = beginAmount - increment; //get day
        time = end - start;

        for (int i = 0; i <= time; i++)
        {
            money = money + increment;
            total += money;
            // does not work ? info = "Indexed steps: " + i + " Day amount: " + money + " Total amount: " + total;

        }

        info = "Indexed steps: " + time + " Day amount: " + money + " Total amount: " + total;

        result = "This is the result: " + total;
    }

    private void Reset()
    {
        money = 0;
        total = 0;
        info = "";
        result = "";

        start = 0;
        end = 0;
        beginAmount = 0;
    }
}