@page "/settings"

<h1>Settings</h1>

<p>
    Current app settngs:<br />
    <br />
    Start day: @startDay<br />
    End day: @endDay<br />
    Begin amount for current day: @beginAmount<br />
    Total Days: @totalDaysText<br />
    <br />
    Total amount: @totalAmount<br />
</p>
<br />

<form class="form-check-inline">
    <div class="form-group">
        <label for="start1">Start date:</label>

        <input type="number" class="form-control" id="startForm" @bind="startDay">
    </div>
    <br />

    <div class="form-group">
        <label for="end">End date:</label>

        <input type="number" class="form-control" id="endForm" @bind="endDay">
    </div>
    <br />

    <div class="form-group">
        <label for="beginAmount">Begin amount:</label>

        <input type="text" class="form-control" id="beginAmountForm" @bind="beginAmount">
    </div>
    <br />

    <div class="form-group">
        <label for="start1">Increment:</label>

        <input type="number" class="form-control" id="increment" @bind="increment" placeholder="0.01">
    </div>
    <br />

    @*<br />
        <button type="submit" class="btn btn-primary" @onclick="SetData">Set Data</button>*@
</form>
<br />

<button class="btn btn-primary" @onclick="CalculateAmount">Calculate</button>
<button class="btn btn-primary" @onclick="Reset">Reset</button>

<br />

@code {
    private double increment = 0.01; // default value, user can change it.
    private double totalAmount = 0.00;
    private int startDay = 0;
    private int endDay = 0;
    private string totalDaysText = "Click calculate";

    private double beginAmount = 0;
    private double moneyTotal;
    private int totalDays;

    //private void SetData()
    //{
    //    // to do>
    //}

    private void CalculateAmount()
    {
        // Clears amount if user press calculate multiple times.
        totalAmount = 0;

        moneyTotal = beginAmount - increment; // Increases the amount per day with the given begin amount
        totalDays = endDay - startDay;

        for (int i = 0; i <= totalDays; i++)
        {
            moneyTotal = moneyTotal + increment;
            totalAmount += moneyTotal;
        }

        totalDaysText = (totalDays + 1 /*accounts for dates like start 1 end 2 = should be 2 days */).ToString();
    }

    private void Reset()
    {
        moneyTotal = 0;
        totalAmount = 0;
        totalDaysText = "";

        startDay = 0;
        endDay = 0;
        beginAmount = 0;
    }
}

<br />
<p>
    Todo:
</p>
<p>
    Add check on form for dates;<br />
    Add ability to use both comma and period separators;<br />
    Display total with decimal point;<br />
    Transfer result to calculator;<br />
    Add current saved amount;<br />
    Add persistence of user money amount when the last time the app was run;<br />
</p>